{% extends "base.html" %}

{% block title%}Twitch Chat Sentiment Analysis{% endblock %}

{% block content %}
    <div>
        <H2>Tea Chat</H2>
        <p>
            Welcome to Tea Chat —  a twitch chat sentiment analysis webapp.
            <br>
            Use this webapp to check the sentiment of a channel's
            past stream. Use this app to see which topics are hot
            or not for the channel's community.
            <br>
        </p>

    </div>
        
    <div>
        <H5>Currently tracked channels:</H5>
        <div>
            **this div is for a grid of clickable channel names**
        </div>
    </div>
{% endblock %}